fint:
  org-id: fintlabs.no
  flyt:
    resource-server:
      security:
        api:
          internal:
            enabled: true
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"https://role-catalog.vigoiks.no/vigo/flyt/developer\"]}"
  kafka:
    default-replicas: 1
spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5440/fint-flyt-value-converting-service
    username: postgres
    password: password
server:
  port: 8094