apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bfk-no

resources:
  - ../../../base

commonLabels:
  app.kubernetes.io/instance: fint-flyt-value-converting-service_bfk_no
  fintlabs.no/org-id: bfk.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "bfk-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "bfk.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/beta/bfk-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/beta/bfk-no/api/intern/value-convertings"
      - op: replace
        path: "/spec/env/1/value"
        value: "bfk.no, vigo.no"

    target:
      kind: Application
      name: fint-flyt-value-converting-service

